@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;300;500&display=swap');



*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --green: #10B981;
    --white: #fff;
    --brightGreen: #55F991;
    --mediumGrey: #D5D4D8;
    --interFont: Inter, sans-serif;
    --karlaFont: Karla, sans-serif;
}

body {
    background-color: #1C1C1C;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
}

section {
    width: 34.375rem;
    height: 34.375rem; 
    background-color: #1F2937;
    padding-left: 52px;
    padding-right: 10px;
    border-radius: 10px;
    overflow: auto;
}






h2 {
  text-align: left;
    font-weight: 800;
    max-width: 22.125rem;
  line-height: 40px;
  font-size: 2.5rem;
  font-family: var(--karlaFont);
  color: white;
  margin: 115px 144px 10px 0;
}

span {
    color: var(--green);
    white-space: nowrap;
}

p {
    color: var(--mediumGrey);
    font-family: var(--interFont);
    font-size: 1.25rem;
    line-height: 1.75;
    font-weight: 300;
}

button {
    border-radius: 6px;
    background-color: var(--green);
    color: var(--white);
    padding: 9px 17px 9px 15px;
    border: none;
    line-height: 24px;
    font-weight: 500;
    max-width: 11.938rem;
    gap: 12px;
    margin-top: 51px;
    font-size: 1rem;
    font-weight: 500;
}

button:hover{
    opacity: 90%;
    transform: scale(1.1)
}


hr {
    border: 0.5px solid #2F3E53;
    margin: 35px 0 35px 0;
    max-width: 27.875rem;
    width: 100%;
}

.resultContainer {
    display: flex;
    gap: 1.5rem;
}

.passwordResult1,
.passwordResult2 {
    background-color: #273549;
    height: 2.438rem;
    width: 13.188rem;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--brightGreen);
    font-family: var(--interFont);
}

@media screen and (max-width:500px){

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        padding: 100px 10px;
       scrollbar-width: none;
       margin: 0;
       min-height: 100vh;
       border-radius: 0;
    }

    h2 {
        margin: 0 auto;
        text-align: center;
    }

    span {
        white-space: wrap;
    }
    p {

        text-align: center;
        margin: 15px auto 0;
    }
    
   .resultContainer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
   }

} 